@import '~@sparkpost/matchbox/src/styles/config.scss';

.NavItem {
  color: color(grey, 4);

  &:hover,
  &:visited:hover {
    color: color(orange);
  }
}

.NavItemContainer {
  padding: spacing(small) spacing();
}

.SelectedNavItem {
  color: color(orange);

  &:active,
  &:focus,
  &:hover,
  &:visited:active,
  &:visited:focus,
  &:visited:hover {
    color: color(orange);
  }
}